.navy {
  background-color: $themeNavy;
  color: $themeWhite;
}
.white {
  background-color: $themeWhite;
  color: $themeNavy;
}

.About {
  // padding: $sectionPadding $contentPadding;
  margin: auto;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: center;

  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-family: $themeSubheaderFont;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: .15rem;
    margin-bottom: .5rem;
  }
}

.About-right-section {
  flex-grow: auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.About-left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;

  li {
    list-style: inside square;
    font-size:  1rem;
    font-weight: 300;
    margin-top: .35rem;
  }

  p {
    margin: none;
    padding: none;
    font-size: 1.1rem;
  }
}

.About-profile-image {
  overflow: hidden;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-right: 2 * $contentPadding;
  margin-left: 3rem;
  filter: hue-rotate(0deg) grayscale(.5) brightness(1);
  transition: .3s ease-in-out;
  img {
    // max-width: 50%;
    width: 150px;
    flex-shrink: none;
    transition: .2s;
  }
}

  .About-profile-image:hover {
    filter: hue-rotate(120deg) grayscale(.3) brightness(1.2);
  }

@media only screen and (max-width: 650px) {
  .About {
    min-height: 0;
    flex-direction: column;
    // padding-top: $sectionPadding - 2;
    // padding-bottom: $sectionPadding - 2;
  }
  .About-profile-image {
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    margin-bottom: 2.5rem;
  }

  .About-left-section {
    // display: none;
  }
}
@media only screen and (max-width: 450px) {
  .About {
    // padding: $sectionPadding / 2 $contentPadding / 2;
  }

}
