.ContentSection-container {
  padding: $contentPadding;
  min-height: 500px;
  display: flex;
  vertical-align: middle;
}

.navy {
  background-color: $themeNavy;
  color: $themeWhite;
}
.white {
  background-color: $themeWhite;
  color: $themeNavy;
}

.ContentSection {
  max-width: $contentMaxWidth;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-family: $themeSubheaderFont;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: .15rem;
    margin-bottom: .5rem;
  }
}

.ContentSection-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-right: 1.5 * $contentPadding;
  margin-left: auto;

  padding: .5rem 1rem;

  li {
    list-style: inside square;
    font-size:  1rem;
    font-weight: 300;
    margin-top: .35rem;
  }

  p {
    margin: none;
    padding: none;
    font-size: 1.1rem;
  }
}
.ContentSection-tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 3px;
  padding: 1rem 1rem;
  margin-top: .25rem;
  padding-top: .5rem;

  li {
    list-style: inside square;
    font-size:  1rem;
    font-weight: 300;
    margin-top: .35rem;
  }

  p {
    margin: none;
    padding: none;
    font-size: 1.1rem;
  }
}

.ContentSection-image {
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: $borderRadius;
  max-width: 200px;
  width: 200px;
  max-height: 125px;

  img {
    // max-width: 50%;
    width: 300px;
    flex-shrink: none;
  }
}


.ContentSection-right {
  flex-grow: auto;
  max-width: 500px;
}

.ContentSection-left-about {
display: flex;
align-items: center;
vertical-align: middle;
}

.ContentSection-image-about {
  overflow: hidden;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-right: 2 * $contentPadding;
  margin-left: 3rem;
  filter: hue-rotate(0deg) grayscale(.5) brightness(1);
  transition: .3s ease-in-out;
  img {
    // max-width: 50%;
    width: 150px;
    flex-shrink: none;
    transition: .2s;
  }
}

  .ContentSection-image-about:hover {
    filter: hue-rotate(120deg) grayscale(.3) brightness(1.2);
  }

@media only screen and (max-width: 650px) {
  .ContentSection {
    min-height: 0;
    flex-direction: column;
    padding: 5rem 0;
  }
  .ContentSection-image-about {
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    margin-bottom: 2.5rem;
  }
  .ContentSection-container {
    padding: $contentPadding;
    min-height: 0;
    display: flex;
    vertical-align: middle;
  }


  .ContentSection-left {
    display: none;
  }

}
