.Contact {
  padding: $contentPadding;

  max-width: $contentMaxWidth / 1.5;
  margin: auto;
  text-align: center;
  color: $themeNavy;
  padding: 4rem 0;
  padding-bottom: 5rem;

  h1 {
    font-size: 2.5rem;
  }
  p {
    margin-top: 2rem;
    line-height: 2.25rem;

  }
}

.Contact-links {
  flex-direction: column;
  margin-top: 4rem;
  display: flex;
  text-align: left;
  margin: auto;
}

.Contact-button {
  margin: 0 auto;
  margin-top: 3rem;
  padding: .5rem 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  background-color: none;
  color: $themeNavy;
  border: 1px solid $themeNavy;
  cursor: pointer;
  transition: .2s ease-in;
}
.Contact-button:hover {
  font-weight: 300;
  background-color: $themeNavy;
  color: $themeWhite;
  border: 1px solid $themeWhite;
}
// .Contact-button:active {
//   background-color: none;
//   color: $themeNavy;
//   border: 1px solid $themeNavy;
// }

@media only screen and (max-width: 650px) {
  .Contact {
    text-align: left;
    p {
      margin-top: .5rem;
    }
    padding: 0;
  }

  .Contact-button {
    margin: 3.5rem 0;
    margin-bottom: 2.5rem;
    max-width: 100%;
  }
}
