.Divider {
  position: relative;
  margin: auto;
  border: none;
}

.Divider > * {
  width: 75px;
}

.Divider-top-white {
  margin:auto;
  position: relative;
  top: 25px;
  right: 2px;
  box-sizing: border-box;
  border-top: 20px #2A363B solid;
  transform: rotate(45deg);
}
.Divider-bottom-white {
  position: relative;
  top: 15px;
  right: 20px;
  margin: auto;
  box-sizing: border-box;
  border-bottom: 20px #FAFAFA solid;
  /* border-right: 15px #FAFAFA solid; */
  transform: rotate(45deg);
}
.Divider-top-white {
  margin:auto;
  position: relative;
  top: 25px;
  right: 2px;
  box-sizing: border-box;
  border-top: 20px #2A363B solid;
  transform: rotate(45deg);
}
.Divider-bottom-white {
  position: relative;
  top: 15px;
  right: 20px;
  margin: auto;
  box-sizing: border-box;
  border-bottom: 20px #FAFAFA solid;
  /* border-right: 15px #FAFAFA solid; */
  transform: rotate(45deg);
}

.Divider-top-navy {
  margin:auto;
  position: relative;
  top: -20px;
  right: 7px;

  box-sizing: border-box;
  border-top: 20px #2A363B solid;
  border-right: 20px #2A363B solid;
  /* border-left: 15px #2A363B solid; */
  transform: rotate(45deg);
}
.Divider-bottom-navy {
  position: relative;
  top: -25px;
  right: 20px;

  margin:auto;
  box-sizing: border-box;
  border-bottom: 20px #FAFAFA solid;
  /* border-right: 15px #FAFAFA solid; */
  transform: rotate(45deg);
}
