.Navbar {
  max-width: $contentMaxWidth;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: $contentPadding;
}

.Navbar-logo {
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  margin-right: auto;
  border-radius: 2px;
  background-color: $themeNavy;
  color: $themeWhite;
  font-family: $themeHeaderFont;
  font-size: 40px;
  line-height: 50px;
}

.Navbar-links {
  margin-top: auto;

  a {
    text-decoration: none;
    color:$themeNavy;
    font-family: $themeSubheaderFont;
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 1.5rem;
    border-bottom: 1px solid $themeNavy;
    padding-bottom: .1rem;
    transition: .2s ease-in;
  }

  a:hover {
    // color: red;
    // border-bottom: 2px solid $themeNavy;
    letter-spacing: .5px;
    font-weight: 700;

  }
}
