
.ProjectCard {
  flex: 1;
  padding: 2rem;
  margin-top: 2rem;
  min-height: 200px;
  justify-content: space-between;
  color: $themeNavy;
  background-color: $themeWhite;
  border: 1px solid $themeNavy;
  border-radius: .45rem;
  display: flex;
  flex-direction: column;
  transition: .1s ease-in;

  .fab, .fas {
    font-size: 2rem;
    color: $themeNavy;
    transition: .1s ease-in;
  }

  h2 {
    font-weight: 700;
    // font-size: 1.75rem;
  }
  h4 {
    font-size: 1.2rem;
  }
}
.ProjectCard:nth-child(even) {
  margin-left: 2rem;
}

.Flourish {
  border-bottom: 2px solid $themeNavy;
  margin: 1rem 0;
  width: 15%;
}

.ProjectCard-links {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;

  i {
    margin-right: 1rem;
  }
}

.ProjectCard-tags {
  display: flex;
  flex-direction: row;
  margin-left: auto;

  h4 {
      font-weight: 400;
      font-size: 1rem;
      margin-left: 1rem;
  }
}

.ProjectCard:hover {
  color: $themeWhite;
  background-color: $themeNavy;

  .fas, .fab {
    color: $themeWhite;
  }
}

@media only screen and (max-width: 780px) {

  .ProjectCard:nth-child(even) {
    margin-left: 0;
  }
}
