.Title-container {
  max-width: $contentMaxWidth;
  margin: auto;
  text-align: center;
}

.Title {
  height: 370px;
  min-height: 300px;
  max-width: $contentMaxWidth;
  padding: $defaultPadding + 2rem;
  display: flex;
  justify-content: center;
  align-items:center;
  vertical-align: middle;
  flex-direction: column;
}

.Title-name {

  h1 {
    font-family: $themeHeaderFont;
    color: $themeNavy;
    margin: auto;
  }
  h2 {
    font-family: $themeSubheaderFont;
    font-size: 1.7rem;
    font-weight: 300;
  }
}

.Title-about {
  margin: auto;
  max-width: 700px;
  margin-top: 3rem;
  font-family: $themeSubheaderFont;
  font-size: 1.7rem;
  font-weight: 300;
  font-size: 1.25rem;
}
