$themeNavy: #2A363B;
$themeWhite: #FAFAFA;

$viewportBorderSize: .5rem;
$defaultPadding: 1rem;
$contentPadding: 2.5rem;
$contentMaxWidth: 1000px;
$borderRadius: 3px;

$themeHeaderFont: Oleo Script;
$themeSubheaderFont: Nunito, display;
$themeCopyFont: Nunito, display;

// Media Ready
$mediaTextAlign: center;

h1 {
  font-family: $themeHeaderFont;
  font-weight: 400;
}
h2 {
  font-family: $themeSubheaderFont;
  font-weight: 500;
}

p {
  font-family: $themeCopyFont;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
}

.fab, .fas {
  font-size: 2rem;
  color: $themeNavy;
}

@media only screen and (max-width: 650px) {

}
