$themeNavy: #2A363B;
$themeWhite: #FAFAFA;

$viewportBorderSize: .5rem;
$defaultPadding: 1rem;
$contentPadding: 2.5rem;
$contentMaxWidth: 1000px;

$themeHeaderFont: Oleo Script;
$themeSubheaderFont: Nunito, display;
