$themeNavy: #2A363B;
$themeWhite: #FAFAFA;
// $themeNavy: #2A363B;
// $themeWhite: #FAFAFA;

$viewportBorderSize: .5rem;
$defaultPadding: 1rem;
$contentPadding: 2.5rem;
$contentMaxWidth: 1000px;
$borderRadius: 3px;
$sectionPadding: 6rem;

$themeHeaderFont: Oleo Script;
$themeSubheaderFont: Nunito, display;
$themeCopyFont: Nunito, display;

// Media Ready
$mediaTextAlign: center;

h1 {
  font-family: $themeHeaderFont;
  font-weight: 400;
}
h2 {
  font-family: $themeSubheaderFont;
  font-weight: 500;
}
h4 {
  font-family: $themeSubheaderFont;
  font-weight: 100;
}

p {
  font-family: $themeCopyFont;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
}
li {
  font-family: $themeCopyFont, display;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
}

.fab, .fas {
  font-size: 2rem;
  color: $themeNavy;
  transition: .5s ease-in;
}

.Container {
  padding: $sectionPadding + 3rem $contentPadding;
}

@media only screen and (max-width: 650px) {

}
@media only screen and (max-width: 450px) {
  .Container {
    padding: $sectionPadding $contentPadding / 1.5;
  }

}
